.head {
  background-image: url('../images/unsplash_a7Woj8W6J0s.png');
  background-repeat: no-repeat;
  background-size: 1518px;
  height: 800px;
}

.b {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 137px;
  color: #F6F0F0;
  margin-left: 70px;
}

.p {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #F6F0F0;
  margin-left: 75px;
}
.btn{
  width: 100px;
height: 40px;
background: #F6F0F0;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
border-radius: 38px;
margin-left: 75px;
}