.end {
  background-image: url('../images/unsplash_es3jueYA88c.png');
  background-repeat: no-repeat;
  height: 700px;
  background-size: 1518px;
}

strong{
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 91px;
  color: #F6F0F0;
}
.ac{
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 91px;
  color: #F6F0F0;
  margin-left: 70px;
}